<p>
    {# append filter #}
    {{ 'àê'|append('ïò') }} => àêïò
</p>
<p>
    {# at filter #}
    {{ 'àêïò'|at(1) }} => ê
</p>
<p>
    {# between filter #}
    {{ 'àêïò'|between('à','ò') }} => êï
</p>
<p>
    {# camelize filter #}
    {{ 'Thîs ïs à senténce'|camelize }} => thîsÏsÀSenténce
</p>
<p>
    {# chars filter #}
    {% for char in 'fòôbàř'|chars %}char "{{ char }}" {% endfor %}
</p>
<p>
    {# collapse_whitespace filter #}
    {{ '   Ο     συγγραφέας  '|collapse_whitespace }} => Ο συγγραφέας
</p>
<p>
    {# contains filter #}
    {% if 'Ο συγγραφέας είπε'|contains('συγγραφέας') %}
        contains
    {% else %}
    {% endif %}
</p>