<p>
    {# stringy_append #}
    {{ 'àê'|stringy_append('ïò') }} => àêïò
</p>
<p>
    {# stringy_at #}
    {{ 'àêïò'|stringy_at(1) }} => ê
</p>
<p>
    {# stringy_between #}
    {{ 'àêïò'|stringy_between('à','ò') }} => êï
</p>
<p>
    {# stringy_camelize #}
    {{ 'Thîs ïs à senténce'|stringy_camelize }} => thîsÏsÀSenténce
</p>
<p>
    {# stringy_chars #}
    {% for char in 'fòôbàř'|stringy_chars %}char "{{ char }}" {% endfor %}
</p>
<p>
    {# stringy_collapse_whitespace #}
    {{ '   Ο     συγγραφέας  '|stringy_collapse_whitespace }} => Ο συγγραφέας
</p>
<p>
    {# stringy_contains #}
    {% if 'Ο συγγραφέας είπε'|stringy_contains('συγγραφέας') %}contains συγγραφέας{% endif %}
</p>